@charset "UTF-8";
/* *****************************************************************

[Table of Contents]

1. Base
2. Preloader
3. Navigation
4. Home Section
5. Overview Section
6. Features Section
7. Describe Section
8. Faq Section
9. Screen Section     
10. Pricing Section
11. Team Section
12. Testimonials Section
13. Count Section
14. Location Section
15. Download Section
16. Footer
17. 404 Page

***************************************************************** */






/* *****************************************************************
 * 1. Base
 * ************************************************************** */

*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #777;
    overflow-x: hidden;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.05) !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
    color: #444;
}
a {
    text-decoration: none;
}
p {
    margin: 0px;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #777;
}
a:hover, a:focus, button:focus {
    text-decoration: none;
    outline: none;
}
.sec-padded-1x {
    padding: 90px 0;
}
.sec-padded-2x {
    padding: 80px 0 0;
}
.sec-padded-3x {
    padding: 50px 0;
}
.sec-padded-4x {
    padding: 50px 0 0;
}
.btm-mrgn-0 {
    margin-bottom: 0 !important;
}
.center-block {
    margin: 0 auto !important;
}
section {
    position: relative;
    z-index: 1;
    overflow: hidden;
}
section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}
.center-heading {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
}
.center-heading h3 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 40px;
}
.center-line {
    width:100px;
    height: 2px;
    display: inline-block;
    margin: 13px auto;
}
.center-heading p {
    font-size: 18px;
    color: #777;
    font-weight: 300;
    line-height: 30px;
    margin-top: 5px;
}
.overlay-shade {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}
.overlay-blue-shade {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 108, 179, 0.75);
    z-index: 0;
}
.trans-effect {
    -webkik-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.scroll-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 35px;
    width: 35px;
    display: none;
    text-align: center;
    border-radius: 50%;
    z-index: 50;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
}
.scroll-to-top a {
    color: #fff;
    font-size: 14px;
    font-weight: bolder;
    padding-top: 8px;
    display: inline-block;
}
.scroll-to-top:hover {
    background-color: #F44336;
}
#sidenav-overlay {
    z-index: 5 !important;
}
@media only screen and ( max-width:767px ) {
    .center-heading h3 {
        font-size: 33px;
    }
    .center-heading p {
        font-size: 16px;
    }
    .center-heading {
        margin-bottom: 40px;
    }
}






/* *****************************************************************
 * 2. Preloader
 * ************************************************************** */

@-webkit-keyframes blink-text {
    0% {
        opacity: 1
    }
    20% {
        opacity: 0.5
    }
    40% {
        opacity: 0.2
    }
    60% {
        opacity: 0.7
    }
    80% {
        opacity: 0.1
    }
    90% {
        opacity: 0.4
    }
}
@-moz-keyframes blink-text {
    0% {
        opacity: 1
    }
    20% {
        opacity: 0.5
    }
    40% {
        opacity: 0.2
    }
    60% {
        opacity: 0.7
    }
    80% {
        opacity: 0.1
    }
    90% {
        opacity: 0.4
    }
}
@-ms-keyframes blink-text {
    0% {
        opacity: 1
    }
    20% {
        opacity: 0.5
    }
    40% {
        opacity: 0.2
    }
    60% {
        opacity: 0.7
    }
    80% {
        opacity: 0.1
    }
    90% {
        opacity: 0.4
    }
}
@-o-keyframes blink-text {
    0% {
        opacity: 1
    }
    20% {
        opacity: 0.5
    }
    40% {
        opacity: 0.2
    }
    60% {
        opacity: 0.7
    }
    80% {
        opacity: 0.1
    }
    90% {
        opacity: 0.4
    }
}
@keyframes blink-text {
    0% {
        opacity: 1
    }
    20% {
        opacity: 0.5
    }
    40% {
        opacity: 0.2
    }
    60% {
        opacity: 0.7
    }
    80% {
        opacity: 0.1
    }
    90% {
        opacity: 0.4
    }
}
.preloader {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: #fff;
    text-align: center;
}
.loader-content {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.preloader img {
    width: 80px;
    display: block;
    margin: 0 auto;
}
.preloader .progress {
    width: 100px;
    height: 2px;
    margin: 13px 0 10px;
    background-color: #bbdefb;
}
.preloader .progress .indeterminate {
    background-color: #03a9f4;
}
.preloader h5 {
    text-transform: uppercase;
    font-size: 11px;
    margin: 5px;
    letter-spacing: .5px;
    font-weight: 600;
    -webkit-animation: blink-text 1.3s infinite;
    -moz-animation: blink-text 1.3s infinite;
    -ms-animation: blink-text 1.3s infinite;
    -o-animation: blink-text 1.3s infinite;
    animation: blink-text 1.3s infinite;
}






/* *****************************************************************
 * 3. Navigation
 * ************************************************************** */

#navigation {
    position: fixed;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 70px;
    line-height: 70px;
}
#navigation nav {
    height: 70px;
    line-height: 70px;
    background-color: rgba(255,255,255,.95);
}
#navigation nav a {
    color: #777;
}
#navigation nav .main-nav li a {
    height: 70px;
    margin-top: -3px;
}
#navigation nav .brand-logo {
    position: relative;
    top: -10px;
    display: inline-block;
    height: 50px;
}
#navigation nav .brand-logo img {
    width: 50px;
}
#navigation nav .button-collapse {
    float: right;
}
#navigation nav .button-collapse i {
    height: 70px;
    line-height: 70px;
}
#navigation .social-icons {
    display: inline-block;
    margin-left: 20px;
}
#navigation .social-icons ul li a {
    margin: 0 5px;
    background: none;
    box-shadow: none;
}
#navigation .social-icons ul li a i {
    position: relative;
    top: -15px;
    font-size: 20px;
}
#navigation .social-icons .icon-google i {
    color: #dd4b39;    
}
#navigation .social-icons .icon-facebook i {
    color: #1283ff;   
}
#navigation .social-icons .icon-twitter i {
    color: #55acee;
}
#navigation ul li .nav-btn-download {
    padding: 0 10px;
    height: auto !important;
    text-transform: none;
}
#navigation ul li .nav-btn-download i {
    height: auto;
    line-height: initial;
    padding-top: 7px;
    margin-right: 8px;
}
.dropdown-content li>a {
    line-height: 50px;
}
.side-nav li {
    padding: 0
}
.side-nav li a {
    padding: 0 25px;
}
.side-nav li a.nav-btn-download {
    margin: 10px;
    padding: 10px !important;
    line-height: 28px;
}
.side-nav li a.nav-btn-download i {
    padding-top: 3px !important;
    margin-left: 45px !important;
    margin-right: -45px !important;
}
.side-nav a {
    height: 55px;
    line-height: 55px;
}
@media only screen and ( max-width:1050px ) {
    #navigation nav .main-nav {
        display: none !important;
    }
    #navigation nav a.button-collapse {
        display: block !important;
    }
}
@media only screen and ( max-width:992px ) {
    #navigation nav .brand-logo {
        left: 29px;
    }
    #navigation .social-icons {
        margin-left: 10px;
    }
    #navigation nav.affix {
        opacity: .97;
    }
}
@media only screen and ( max-width:767px ) {
    #navigation nav .brand-logo {
        width: 56px;
    }
    #navigation .social-icons ul li a i {
        top: auto;
    }
}






/* *****************************************************************
 * 4. Home Section
 * ************************************************************** */

.home-section {
    overflow: visible;
}
.home-section::before {
    background-image: url('../img/ye2.jpg');
    filter: blur(1px);
}
.hero-text {
    position: relative;
    padding-top: 170px !important;
}
.hero-text h1 {
    font-size: 52px;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 10px;
}
.hero-text h2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 20px;
}
.typed-cursor {
    position: relative;
    top: -4px;
    font-weight: 300;
}
.hero-text p {
    margin-bottom: 30px;
}
.btn-download {
    display: inline-block;
    width: 200px;
    height: 70px;
    padding: 10px;
    background: #fff url('../img/playstore.jpg') center center no-repeat;
    background-size: contain;
}
.btn-link {
    position: relative;
    opacity: .8;
    height: 50px;
    width: 50px;
    margin-left: 30px;
    animation: arrow-animation 750ms ease-in-out infinite alternate;
    -moz-animation: arrow-animation 750ms ease-in-out infinite alternate;
    -webkit-animation: arrow-animation 750ms ease-in-out infinite alternate;
    -o-animation: arrow-animation 750ms ease-in-out infinite alternate;
}
.btn-link i {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 0px;
    animation-duration: 5s;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
@keyframes arrow-animation {
  from {
    top: -5px;
  }
  to {
    top: 5px;
  }
}
@-webkit-keyframes arrow-animation {
  from {
    top: -5px;
  }
  to {
    top: 5px;
  }
}
@-moz-keyframes arrow-animation {
  from {
    top: -5px;
  }
  to {
    top: 5px;
  }
}
@-o-keyframes arrow-animation {
  from {
    top: -5px;
  }
  to {
    top: 5px;
  }
}
.btn-link:hover,
.btn-link:focus {
    opacity: 1;
}
.btn-download:hover,
.btn-download:focus {
    background-color: #fff;
}
.android-wrapper {
    width: 336px;
    height: 552px;
    background-repeat: no-repeat;
    background-image: url(../img/android-cover.png);
    background-position: center center;
    background-size: contain;
    position: relative;
    bottom: -30px;
    margin: 60px auto 0px;
}
.android-inner {
    width: 263px;
    height: 468px;
    position: absolute;
    top: 45px;
    left: 37px;
    background-color: #00AEFF;
    overflow: hidden;
}
.android-inner .hero-slider {
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.android-inner .hero-slider img {
    width: 100%;
}
.android-inner .flex-direction-nav a {
    width:40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 25px;
    color: #fff;
    opacity: 1;
    text-shadow: none;
    background-color: #F44336;
}
.android-inner .hero-slider:hover .flex-prev {
    left: 0;
    border-radius: 0 3px 3px 0; 
}
.android-inner .hero-slider:hover .flex-next {
    right: 0;
    border-radius: 3px 0 3px; 
}
.android-inner .flex-direction-nav a:before {
    display: none;
}
.android-inner .flex-direction-nav a.flex-next:before {
    display: none;
}
@media only screen and ( max-width:1075px ) {
    .android-wrapper {
        width: 290px;
        height: 510px;
        margin-bottom: 90px;
    }
    .android-inner {
        width: 243px;
        height: 432px;
        top: 42px;
        left: 24px;
    }
}
@media only screen and ( max-width:992px ) {
    .hero-text h1 {
        font-size: 36px;
        line-height: inherit;
        margin-bottom: 0;
    }
    .hero-text h2 {
        font-size: 32px;
        line-height: inherit;
    }
    .btn-download {
        width: 170px;
        height: 60px;
    }
    .btn-link {
        height: 40px;
        width: 40px;
        margin-left: 20px;
    }
}
@media only screen and ( max-width:767px ) {
    .hero-text {
        text-align: center;
        padding-top: 150px !important;
    }
    .hero-text h1 {
        font-size: 32px;
    }
    .hero-text h2 {
        font-size: 28px;
        margin-bottom: 15px;
    }
    .hero-text p {
        margin-bottom: 25px;
        font-size: 15px;
    }
    .btn-link {
        display: none;
    }
    .android-wrapper {
        margin: 0px auto;
        height: 495px;
    }
    .android-inner {
        width: 236px;
        height: 419px;
        top: 41px;
        left: 28px;
    }
    .android-inner .flex-direction-nav .flex-next {
        right: 0;
    }
    .android-inner .flex-direction-nav .flex-prev {
        left: 0;
    }
}






/* *****************************************************************
 * 5. Overview Section
 * ************************************************************** */

.overview-section-box {
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px;
    
}
.overview-section-box h3 {
    margin: 15px 0;
    font-weight: 300;
    font-size: 25px;
    text-transform: uppercase;
    line-height: 38px;
}
.overview-section-box p {
    margin-bottom: 0px;
    font-weight: 300;
    font-size: 15px;
}
.overview-section-box i{
    width:120px;
    height: 120px;
    display: inline-block;
    line-height: 125px;
    font-size: 60px;
    color:#fff;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    margin: 4px;
    background: #03a9f4;
}
.overview-section-box:hover i {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -moz-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}






/* *****************************************************************
 * 6. Features Section
 * ************************************************************** */

.features-section {
    background-image: url(../img/bg-pattern.png);
    background-repeat: repeat;
}
.features-img-box {
    position: relative;
    z-index: 1;
}
.features-section-box i {
    margin: 0;
    font-size: 45px;
    color: #aaa;
    width: 60px;
    height: 60px;
    overflow: hidden;
    line-height: 60px;
    text-align: center;
    border-radius: 2px;
    text-shadow: #E6E6E6 0px 0px 0px, #E6E6E6 1px 1px 0px, #E6E6E6 1px 2px 0px, #E6E6E6 2px 3px 0px, #E6E6E6 2px 4px 0px, #E6E6E6 3px 4px 0px, #E6E6E6 4px 5px 0px, #E6E6E6 4px 6px 0px, #E6E6E6 5px 7px 0px, #E6E6E6 5px 8px 0px, #E6E6E6 6px 8px 0px, #E6E6E6 6px 9px 0px, #E6E6E6 7px 10px 0px, #E6E6E6 8px 11px 0px, #E6E6E6 8px 12px 0px, #E6E6E6 9px 13px 0px, #E6E6E6 9px 13px 0px, #E6E6E6 10px 14px 0px, #E6E6E6 11px 15px 0px, #E6E6E6 11px 16px 0px, #E6E6E6 12px 17px 0px, #E6E6E6 12px 17px 0px, #E6E6E6 13px 18px 0px, #E6E6E6 13px 19px 0px, #E6E6E6 14px 20px 0px, #E6E6E6 15px 21px 0px, #E6E6E6 15px 21px 0px, #E6E6E6 16px 22px 0px, #E6E6E6 16px 23px 0px, #E6E6E6 17px 24px 0px, #E6E6E6 17px 25px 0px, #E6E6E6 18px 26px 0px, #E6E6E6 19px 26px 0px, #E6E6E6 19px 27px 0px, #E6E6E6 20px 28px 0px, #E6E6E6 20px 29px 0px, #E6E6E6 21px 30px 0px, #E6E6E6 22px 30px 0px, #E6E6E6 22px 31px 0px, #E6E6E6 23px 32px 0px, #E6E6E6 23px 33px 0px;
}
.features-text {
    overflow: hidden;
}
.features-text h4 {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 38px;
}
.features-section-row.left,
.features-section-row.right {
    margin-top: 70px;
}
.features-section-box {
    margin-bottom: 30px;
}
.features-text p {
    margin: 0px;
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
}
.features-section-box.left {
    text-align: right;
}
.features-section-box.right {
    text-align: left;
}
.features-section-box.left i {
    float: right;
    margin-left: 30px;
}
.features-section-box.right i {
    float: left;
    margin-right: 30px;
}
.img-wrapper {
    width: 100%;
    position: relative;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    -webkit-perspective-origin: 50% 25%;
    -moz-perspective-origin: 50% 25%;
    perspective-origin: 50% 25%;
}
.feature-device {
    width: 288px;
    margin: 0 auto;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.feature-device a {
    width: 261px;
    height: 464px;
    display: block;
    margin: 0;
    position: absolute;
    top: 45px;
    left: 14px;
    background-color: #00AEFF;
}
.feature-device a img {
    display: block;
}
.feature-grid {
    position: absolute;
    width: 465px;
    left: 50%;
    margin-left: -232px;
    height: 100%;
    z-index: 1000;
    top: 0px;
    opacity: 0;
    pointer-events: none;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: translateZ(-350px);
    -moz-transform: translateZ(-350px);
    transform: translateZ(-350px);
}
.feature-grid a {
    width: 145px;
    display: block;
    position: relative;
    float: left;
    margin: 10px 5px;
    cursor: pointer;
}
.feature-grid a img {
    display: block;
    width: 100%;
}
.feature-grid a span {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    text-transform: uppercase;
    padding: 1em;
    z-index: 100;
    color: #ddd;
    background: rgba(0,0,0,0.8);
    font-weight: 500;
    font-size: 14px;
    opacity: 0;
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.feature-grid a span small {
    font-size: 10px;
    font-weight: 500;
    display: inline-block;
    margin-top: 5px;
    padding-top: 5px;
    line-height: 19px;
    border-top: 1px solid rgba(221, 221, 221,.2);
}
.feature-grid a:hover span {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
}
.feature-gridview {
    -webkit-transform: translateZ(-350px);
    -moz-transform: translateZ(-350px);
    transform: translateZ(-350px);
}
.img-wrapper.feature-gridview .feature-device {
    -webkit-transform: translateZ(-350px);
    -moz-transform: translateZ(-350px);
    transform: translateZ(-350px);
    opacity: .6;
}
.img-wrapper.feature-gridview .feature-grid {
    -webkit-transform: translateZ(0px);
    -moz-transform: translateZ(0px);
    transform: translateZ(0px);
    opacity: 1;
    pointer-events: auto;
}
@media screen and (max-width: 63.875em) {
    .img-wrapper { 
        font-size: 60%; 
        width: 100%; 
        padding: 0;
    }
    .feature-device {
        margin: 0 auto;
        width: 225px;
    }
}
@media screen and (max-width: 39.8125em) {
    .feature-grid {
        width: 90%;
        left: 5%;
        margin-left: 0;
        padding-top: 150px;
    }
    .feature-grid a {
        width: 22%;
    }
}
@media screen and (max-width: 35.6875em) {
    .feature-device {
        margin: 0 auto;
        width: 288px;
    }
}
@media only screen and ( max-width:1022px ) {
    .feature-device a {
        width: 204px;
        height: 363px;
        top: 35px;
        left: 11px;
    }
    .features-section-box.right i {
        margin-right: 20px;
    }
    .features-section-box.left i {
        margin-left: 20px;
    }
    .features-section-row.left, 
    .features-section-row.right {
        margin-top: 0
    }
}
@media only screen and ( max-width:992px ) {
    .features-section-box i {
        font-size: 40px;
    }
    .features-section-box.right i {
        margin-right: 17px;
    }
    .features-section-box.left i {
        margin-left: 17px;
    }
    .features-text h4 {
        font-size: 20px;
        line-height: 28px;
    }
}
@media only screen and ( max-width:837px ) {
    .feature-device {
        width: 200px;
    }
    .feature-device a {
        width: 181px;
        height: 322px;
        top: 31px;
        left: 10px;
    }
}
@media only screen and ( max-width:767px ) {
    .features-section .center-heading {
        margin-bottom: 30px;
    }
    .features-section-box.left,
    .features-section-box.right {
        text-align: center;
    }
    .features-section-box.left i,
    .features-section-box.right i {
        font-size: 45px;
        float: none;
        display: block;
        margin: 0 auto 20px;
    }
    .feature-device {
        width: 200px;
        margin: 0 auto 35px;
    }
    .feature-device a {
        width: 181px;
        height: 322px;
        top: 31px;
        left: 10px;
    }
    .feature-grid a span small {
        display: none;
    }
    .feature-grid {
        top: -65px;
    }
}
@media only screen and ( max-width:596px ) {
    .feature-grid {
        top: -150px;
    }
    .feature-grid a span {
        display: none;
    }
}
@media only screen and ( max-width:400px ) {
    .feature-grid {
        top: -110px;
        left: 15%;
    }
}






/* *****************************************************************
 * 7. Describe Section
 * ************************************************************** */

.describe-section::before {
    background-image: url('../img/bg-describe.jpg');
}
.describe-section .center-heading {
    margin-bottom: 30px;
}
.describe-section .tabs {
    height: 60px;
    margin-bottom: 70px;
    overflow: hidden;
}
.describe-section .tabs .tab {
    height: 60px;
    line-height: 60px;
}
.describe-section .tabs .tab a {
    color: #F44336;
}
.describe-section .tabs .indicator {
    background-color: #F44336;
    border-radius: 3px;
}
.describe-section .tab-content {
    position: relative;
    z-index: 1;
}
.describe-section .tab-content h3 {
    color: #fff;
    font-size: 34px;
    font-weight: 300;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.36);
}
.describe-section .tab-content p {
    color: #fff;
    font-weight: 300;
    margin-bottom: 15px;
}
.describe-section .tab-content ul {
    padding: 0;
    list-style-type: none;
}
.describe-section .tab-content ul li {
    position: relative;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 15px;
    padding-left: 35px;
    color: #fff;
}
.describe-section .tab-content ul li:before {
    content: "1.";
    position: absolute;
    top: 7px;
    left: 0;
    font-size: 30px;
}
.describe-section .tab-content ul li:nth-child(2):before {
    content: "2.";
}
.describe-section .tab-content ul li:nth-child(3):before {
    content: "3.";
}
.describe-section .tab-content ul li:last-child:before {
    content: "4.";
}
.describe-section .tab-content .progress-box span {
    color: #fff;
    font-weight: 300;
}
.describe-section .tab-content .progress {
    height: 20px;
    background-color: #81d4fa;
    margin-bottom: 12px;
}
.describe-section .tab-content .progress .determinate {
    background-color: #0288d1;
}
.describe-section .tab-content .progress .feature-1 {
    width: 90%;
}
.describe-section .tab-content .progress .feature-2 {
    width: 70%;
}
.describe-section .tab-content .progress .feature-3 {
    width: 80%;
}
.describe-section .tab-content .progress .feature-4 {
    width: 60%;
}
.describe-section .video-box {
    position: relative;
    margin-top:15px;
}
.describe-section .video-box .video-trigger {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.describe-section .video-box .video-trigger i {
    font-size: 50px;
    position: absolute;
    top: 4px;
    left: 3px;
}
@media only screen and ( max-width:992px ) {
    .describe-section .tab-content h3 {
        margin-bottom: 13px;
        font-size: 28px;
    }
    .describe-section .tab-content .progress {
        overflow: visible;
    }
}
@media only screen and ( max-width:767px ) {
    .describe-section .tabs {
        height: 50px;
        margin-bottom: 60px;
    }
    .describe-section .tabs .tab {
        height: 50px;
        line-height: 50px;
    }
    .describe-section .tabs .tab a {
        font-size: 11px;
    }
    .describe-section .tab-content h3 {
        font-size: 26px;
    }
    .describe-section .tab-content p,
    .describe-section .tab-content ul li {
        font-size: 15px;
    }
    .describe-section .tab-content ul li {
        margin-bottom: 5px;
    }
    .describe-section .tab-content ul li:before {
        font-size: 28px;
    }
    .describe-section #tab-compare img {
        margin-top: 35px !important;
    }
    .describe-section #tab-heart img {
        margin-bottom: 25px !important;
    }
}






/* *****************************************************************
 * 8. Faq Section
 * ************************************************************** */

.faq-section {
    background-color: #199aef;
}
.faq-section .collapsible-header {
    min-height: 3.5rem;
    line-height: 3.5rem;
    padding: 0 1.3rem;
    font-size: 16px;
}
.faq-section .collapsible-header i {
    float: right;
    line-height: 3.5rem;
    margin: 0;
    width: 5px;
}
.faq-section .collapsible-body {
    background-color: #F7F7F7;
}
.faq-section .collapsible-body p {
    padding: 1rem 1.3rem;
    font-size: 15px;
}
@media only screen and ( max-width:767px ) {
    .faq-section .hide-on-small-only {
        display: none;
    }
}






/* *****************************************************************
 * 9. Screen Section
 * ************************************************************** */

#screen-slider .owl-controls .owl-page.active span {
    background-color: #F44336;
}
#screen-slider .owl-controls {
    margin-top: 20px;
}
#screen-slider .owl-controls .owl-page span {
    width: 10px;
    height: 10px;
    box-shadow: 0 0 0 2px #F44336 inset;
    opacity: 1;
    background: transparent;
}
#screen-slider .owl-wrapper .owl-item img {
    display: block;
    margin: 10px auto;
    width: 85%;
    border-radius: 3px;
}






/* *****************************************************************
 * 10. Pricing Section
 * ************************************************************** */

#price::before {
    background-image: url('../img/bg-price.jpg');
}
.pricing-row .pricing-item {
    position: relative;
    margin: 0 5px 35px;
    background-color: #fff;
    border-radius: 3px;
}
.pricing-row .pricing-title {
    font-size: 22px;
    color: #fff;
    font-weight: 300;
    padding: 15px;
    position: relative;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #039be5;
}
.pricing-row .icon {
    display: inline-block;
    min-width: 2em;
}
.pricing-row .pricing-price {
    padding: 25px 0;
    position: relative;
    line-height: 50px;
    font-weight: 300;
    background-color: #03a9f4;
    color: #fff;
    font-size: 80px;
}
.pricing-row .pricing-currency {
    font-size: 40px;
    vertical-align: super;
    font-weight: 300;
}
.pricing-row .pricing-period {
    font-size: 16px;
    font-weight: 300;
}
.pricing-row .pricing-sentence {
    padding: 15px 25px;
    font-size: 15px;
    font-weight: 300;
    background-color: #fff;
    text-align: left !important;
}
.pricing-row .pricing-feature-list {
    font-weight: 300;
    margin: 0;
    letter-spacing: 0;
    padding: 0 25px;
    list-style: none;
    background-color: #fff;
}
.pricing-row .pricing-feature {
    border: 1px solid #ddd;
    border-bottom: none;
    position: relative;
    padding: 10px 35px;
    font-size: 15px;
    text-align: left !important;
}
.pricing-row .pricing-feature i {
    font-size: 18px;
    position: absolute;
    left: 11px;
    top: 9px;
}
.pricing-row .pricing-feature:first-child {
    border-radius: 3px 3px 0 0;
}
.pricing-row .pricing-feature:last-child {
    border-bottom: 1px solid #ddd;
    border-radius: 0 0 3px 3px;
}
.pricing-row .pricing-action {
    margin: 25px;
    position: relative;
    display: inline-block;
}
.pricing-item .ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; 
    height: 75px;
    text-align: right;
}
.pricing-item .ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 100px;
    display: block;
    background-color: #F44336;
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;
}
.pricing-item .ribbon span::before {
    content: "";
    position: absolute; 
    left: 0px; 
    top: 100%;
    z-index: -1;
    border-left: 3px solid #F44336;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #F44336;
}
.pricing-item .ribbon span::after {
    content: "";
    position: absolute; 
    right: 0px; 
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #F44336;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #F44336;
}
@media only screen and ( max-width:992px ) {
    .pricing-row .pricing-title {
        font-size: 18px;
    }
    .pricing-row .pricing-sentence,
    .pricing-row .pricing-feature,
    .pricing-row .pricing-action {
        font-size: 15px;
    }
    .pricing-row .pricing-feature i {
        font-size: 16px;
        top: 10px;
    }
    .pricing-row .pricing-currency {
        font-size: 36px;
    }
    .pricing-row .pricing-price {
        font-size: 70px;
    }
}
@media only screen and ( max-width:767px ) {
    .pricing-row .pricing-price {
        padding: 20px 0;
    }
}






/* *****************************************************************
 * 11. Team Section
 * ************************************************************** */

.team-section {
    background-color: #0288d1;
}
.team-section .card {
    margin: 0 5px 30px;
    text-align: center;
}
.team-section .card .card-image {
    border-bottom: 1px solid rgba(221, 221, 221, 0.58);
}
.team-section .card img {
    width: 160px;
    display: inline-block;
    padding: 15px 0;
}
.team-section .card .card-content {
    padding: 10px 20px;
}
.team-section .card .card-content .card-title {
    font-weight: 400;
    line-height: initial;
    margin-bottom: 10px;
    font-size: 28px;
    color: #585858 !important;
}
.team-section .card .card-content .card-title i {
    margin-left: 0;
}
.team-section .card .card-content p {
    font-size: 15px;
    padding: 5px;
}
.team-section .card .card-content ul {
    margin: 0;
    padding: 0 0 5px;
}
.team-section .card .card-content ul li {
    display: inline-block;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin: 0 2px;
}
.team-section .card .card-content ul li a i {
    display: inline-block;
    font-size: 22px;
    padding-top: 3px;
}
.team-section .card .card-content ul li:hover a {
    color: #F44336;
}
.team-section .card .card-reveal {
    padding: 10px 15px;
}
.team-section .card .card-reveal .card-title {
    font-size: 22px;
    margin-bottom: 5px;
}
.team-section .card .card-reveal .card-title i {
    margin-left: 0px;
}
.team-section .card .card-reveal p {
    font-size: 15px;
}
.team-col:hover img {
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.04), 0 0px 1px rgba(28,39,72,.15), 0 6px 34px rgba(0,0,0,.09);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.04), 0 0px 1px rgba(28,39,72,.15), 0 6px 34px rgba(0,0,0,.09);
    box-shadow: 0 1px 4px rgba(0,0,0,.04), 0 0px 1px rgba(28,39,72,.15), 0 6px 34px rgba(0,0,0,.09);
}






/* *****************************************************************
 * 12. Testimonials Section
 * ************************************************************** */

.testimonials-inner img {
    width:160px;
    margin: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.04), 0 0px 1px rgba(28,39,72,.15), 0 6px 34px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.04), 0 0px 1px rgba(28,39,72,.15), 0 6px 34px rgba(0,0,0,.2);
    box-shadow: 0 1px 4px rgba(0,0,0,.04), 0 0px 1px rgba(28,39,72,.15), 0 6px 34px rgba(0,0,0,.2);
}
.testimonials-inner p {
    font-size: 25px;
    font-weight: 300;
    font-style: italic;
    line-height: 33px;
}
.testimonials-section .owl-theme .owl-controls {
    margin-top: 10px;
}
.testimonials-section .owl-theme .owl-controls .owl-page span {
    width: 10px;
    height: 10px;
    box-shadow: 0 0 0 2px #F44336 inset;
    opacity: 1;
    background: transparent;
}
.testimonials-section .owl-theme .owl-controls .owl-page.active span,.testimonials-section .owl-theme .owl-controls.clickable .owl-page:hover span{
    background-color: #F44336;
}
.testimonials-inner span {
    display: block;
    font-size: 18px;
    margin-top: 20px;
    font-weight: 600;
}
.testimonials-inner span em {
    color: #F44336;
    font-weight: 400;
    font-size: 15px;
}
.testimonials-inner .testimonials-box {
    padding: 25px;
    margin-top: 5px;
}
@media only screen and ( max-width:767px ) {
    .testimonials-inner img {
        width: 130px;
    }
    .testimonials-inner p {
        font-size: 19px;
    }
}






/* *****************************************************************
 * 13. Count Section
 * ************************************************************** */

.count-section::before {
    background-image: url('../img/bg-count.png');
    height: 180%;
}
.count-section .row {
    position: relative;
}
.count-section i {
    color: #fff;
    font-size: 110px;
    line-height: 0;
}
.count-section h2 {
    display: block;
    color: #fff;
    margin-top: -5px;
    font-weight: 300;
    font-size: 50px;
}
.count-section p {
    color: #fff;
    font-weight: 400;
    padding-top: 3px;
}
@media only screen and ( max-width:992px ) {
    .count-section i {
        font-size: 90px;
    }
    .count-section h2 {
        font-size: 40px;
    }
}
@media only screen and ( max-width:570px ) {
    .count-section i {
        font-size: 70px;
    }
    .count-section h2 {
        font-size: 27px;
    }
}
@media only screen and ( max-width:470px ) {
    .count-section i {
        font-size: 60px;
    }
}






/* *****************************************************************
 * 14. Location Section
 * ************************************************************** */

#location .address-block {
    padding: 5% 5% 5% 7.9%;
    background-color: #FAFAFA;
}
#location .address-block .center-heading {
    margin-bottom: 25px;
}
#location .address-block .center-heading p {
    font-size: 16px;
}
#location .map-block,#location .address-block ul {
    padding: 0;
    margin-bottom: 0px;
}
#location .address-block ul li p {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 300;
}
#location .address-block ul li {
    list-style: none;
    margin-bottom: 20px;
    padding-left: 45px;
    position: relative;
}
#location .address-block ul li:first-child::before {
    content: "\f455";
    font-family: 'Ionicons';
    font-size: 40px;
    display: block;
    position: absolute;
    left: 0;
    top: -5px;
    font-weight: 500;
    color: #03a9f4;
}
#location .address-block ul li:nth-child(2)::before {
    content: "\f4b8";
    font-family: 'Ionicons';
    font-size: 40px;
    display: block;
    position: absolute;
    left: 0;
    top: -15px;
    font-weight: 500;
    color: #00AEFF;
}
#location .address-block ul li:last-child::before {
    content: "\f422";
    font-family: 'Ionicons';
    font-size: 40px;
    display:block;
    position: absolute;
    left: 0;
    top: -16px;
    font-weight: 500;
    color: #00AEFF;
}
#location .address-block .modal-trigger {
    font-size: 13px;
    padding: 0 15px;
    margin-right: 20px;
    margin-top: 10px;
    height: 40px;
    line-height: 40px;
}
#map{
    width: 100%;
    height: 100%;
}
.md-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    visibility: hidden;
    background-color: rgba(0,0,0,.6);
}
.md-show {
    visibility: visible;
}
.md-content {
    background: #fff;
    position: relative;
    border-radius: 3px;
    text-align: center;
    margin: 0 auto;
}
.md-content h3 {
    margin: 0;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    background-color: #039be5;
    color: #fff;
    border-radius: 3px 3px 0 0;
}
.md-close {
    position: absolute;
    top: 0;
    right: 15px;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}
.md-content p {
    margin: 0;
    padding: 15px 15px 0;
}
.md-effect-1 .md-content {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.md-show.md-effect-1 .md-content {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
.md-content form input,
.md-content form textarea {
    margin-bottom: 10px;
}
.md-content form .error {
    float: left;
    font-size: 12px;
    color: #AD0000;
}
.md-content form .input-field label {
    top: 15px;
    font-size: 13px;
}
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #039be5;
    box-shadow: 0 1px 0 0 #039be5;
}
.md-content form .input-field label.active {
    color: #039be5;
}
.md-content .row {
    margin-bottom: 15px
}
#m-video .md-content {
    background: transparent;
}
#m-video .md-content .md-close {
    top: -55px;
    right: 0;
    font-size: 40px;
}
#m-video iframe {
    width:100%;
    height:450px
}
@media only screen and (min-width: 993px) {
    .md-content {
        width: 45%;
    }
}
@media only screen and (max-width: 992px) {
    #location .address-block .center-heading h3 {
        font-size: 30px;
    }
    .md-content {
        width: 60%;
    }
}
@media only screen and (max-width: 767px) {
    #location .address-block {
        padding: 30px;
    }
    #location .address-block .center-heading {
        text-align: center !important;
    }
    #location .map-block {
        height: 400px !important;
    }
    #location .address-block ul li p {
        font-size: 15px
    }
    .md-content {
        width: 95%;
    }
    .md-content h3 {
        font-size: 18px;
    }
    .md-close {
        top: 5px;
        right: 15px;
        font-size: 25px;
    }
    .md-content p {
        font-size: 15px;
    }
    .md-content textarea.materialize-textarea {
        padding: 1rem 0;
    }
    .md-content .row {
        margin-bottom: 10px
    }
}






/* *****************************************************************
 * 15. Download Section
 * ************************************************************** */

.download-section {
    background-color: #0288d1;
    cursor: url('../img/icons/download.png'), auto;
    cursor: -webkit-image-set( url('../img/icons/download.png') 1x, url('../img/icons/download%402x.png') 2x ), auto;
}
.download-section .center-heading,
download-section .center-heading h3 {
    margin: 0;
    font-weight: 300;
}
.download-section .center-heading i {
    margin-right: 15px;
    font-size: 50px;
}
@media only screen and (max-width: 767px) {
    .download-section.sec-padded-1x {
        padding: 65px 0;
    }
}






/* *****************************************************************
 * 16. Footer
 * ************************************************************** */

.footer-main{
    padding-top: 80px;
    padding-bottom: 30px;
    background-color: #263238;
}
.footer-main a img {
    width: 70px;
}
.footer-social{
    margin: 30px 0;
    padding: 0;
}
.footer-social li {
    position: relative;
    display: inline-block;
    margin: 0 3px;
}
.footer-social li:before {
    content: "";
    display: block;
    width: 4em;
    height: 4em;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid #A8B4C4;
    border-radius: 1000px;
    opacity: 0;
    z-index: 0;
    cursor: pointer;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.footer-social li:hover:before {
    -webkit-animation: circle-pulse 1s ease-out infinite;
    -moz-animation: circle-pulse 1s ease-out infinite;
    -o-animation: circle-pulse 1s ease-out infinite;
    animation: circle-pulse 1s ease-out infinite;
}
@-webkit-keyframes circle-pulse {
    0% {
        -webkit-transform: translateX(-50%) translateY(-50%) scale3d(.5, .5, 1);
        transform: translateX(-50%) translateY(-50%) scale3d(.5, .5, 1);
        opacity: 0
    }
    50% {
        opacity: .5
    }
    100% {
        -webkit-transform: translateX(-50%) translateY(-50%) scale3d(1, 1, 1);
        transform: translateX(-50%) translateY(-50%) scale3d(1, 1, 1);
        opacity: 0
    }
}
@-moz-keyframes circle-pulse {
    0% {
        -moz-transform: translateX(-50%) translateY(-50%) scale3d(.5, .5, 1);
        transform: translateX(-50%) translateY(-50%) scale3d(.5, .5, 1);
        opacity: 0
    }
    50% {
        opacity: .5
    }
    100% {
        -moz-transform: translateX(-50%) translateY(-50%) scale3d(1, 1, 1);
        transform: translateX(-50%) translateY(-50%) scale3d(.5, .5, 1);
        opacity: 0
    }
}
@-ms-keyframes circle-pulse {
    0% {
        -ms-transform: translateX(-50%) translateY(-50%) scale3d(.5, .5, 1);
        transform: translateX(-50%) translateY(-50%) scale3d(.5, .5, 1);
        opacity: 0
    }
    50% {
        opacity: .5
    }
    100% {
        -ms-transform: translateX(-50%) translateY(-50%) scale3d(1, 1, 1);
        transform: translateX(-50%) translateY(-50%) scale3d(.5, .5, 1);
        opacity: 0
    }
}
@-o-keyframes circle-pulse {
    0% {
        -o-transform: translateX(-50%) translateY(-50%) scale3d(.5, .5, 1);
        transform: translateX(-50%) translateY(-50%) scale3d(.5, .5, 1);
        opacity: 0
    }
    50% {
        opacity: .5
    }
    100% {
        -o-transform: translateX(-50%) translateY(-50%) scale3d(1, 1, 1);
        transform: translateX(-50%) translateY(-50%) scale3d(.5, .5, 1);
        opacity: 0
    }
}
@keyframes circle-pulse {
    0% {
        -webkit-transform: translateX(-50%) translateY(-50%) scale3d(.5, .5, 1);
        transform: translateX(-50%) translateY(-50%) scale3d(.5, .5, 1);
        opacity: 0
    }
    50% {
        opacity: .5
    }
    100% {
        -webkit-transform: translateX(-50%) translateY(-50%) scale3d(1, 1, 1);
        transform: translateX(-50%) translateY(-50%) scale3d(1, 1, 1);
        opacity: 0
    }
}
.footer-social li a i{
    display: block;
    width:40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #37474f;
    color:#bdbdbd;
    font-size: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    position: relative;
    z-index: 1;
}
.footer-social li a i:hover{
    background-color: #F44336;
    color:#fff;
}
.copyrights{
    display: block;
    color: #bdbdbd;
    font-weight: 300;
}
@media only screen and (max-width: 767px) {
    .footer-main {
        padding-top: 60px;
    }
}






/* *****************************************************************
 * 17. 404 Page
 * ************************************************************** */

.error-section {
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    height: 100%;
    height: 100vh;
    background-color: #FAFAFA;
}
.error-block .number h1 {
    font-size: 150px;
    font-weight: 300;
    color: #03a9f4;
}
.error-block .details h3 {
    font-size: 32px;
    font-weight: 300;
    padding-bottom: 8px;
}
.error-block .details p {
    padding-bottom: 12px;
    font-weight: 300;
}
@media only screen and (max-width: 767px) {
    .error-block .number h1 {
        font-size: 95px; 
    }
    .error-block .details h3 {
        font-size: 28px;
    }
}